{% extends "music/base.html" %}
{% block title %} Music - index {% endblock %}
{% block body %}
<div class="container-fluid" style="margin-top: 35px;">



    {% if album_list %}
    <h3>This is Albums List :</h3>
    <ul>
      {% for album in album_list %}
          <ul>
            <li><a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</a></li>
          </ul>
      {% endfor %}

    </ul>
    {% else %}
        <h4>you dont have albums</h4>
    {% endif %}

</div>

{% endblock %}
